<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    
    <body>
        <header>
            <div id="name">
                <a href="index.html">Marissa Ng</a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html" class="currentpage">now</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="musings.html">musings</a></li>
                    <li><a href="photography.html">photography</a></li>
                    <li><a href="readings.html">readings</a></li>
                    <li><a href="map.html">map</a></li>
                </ul>
            </nav>
        </header>
        
        <div class="bodycontainer">
        
        {{ content }}
            
        </div>
        
        <footer>
            <ul class="contact-buttons">
                <li id="linkedin"><a href="https://ca.linkedin.com/in/marissang" target="_blank"><img src="/buttons/linkedin.png"></a></li>
                <li id="email"><a href="mailto:marissamng@gmail.com" target="_blank"><img src="/buttons/email.png"></a></li>
            </ul>
            <p id="copyright">&copy; 2017 Marissa Ng</p>
        </footer>
    </body>
</html>
